
/* NAVBAR STYLING */

.header nav{
    max-width: 1200px;
    height: 120px;
    
}
.logo-wrapper{
    max-width: 150px;
}
.logo-wrapper img{
    width: 100%;
}

.nav-btn {
    padding: 8px 10px;
    display: block;
    max-width: 150px;
    font-size: 14px;
    background: linear-gradient(#121B27, #121B27) padding-box,
    linear-gradient(to right, #5404FF, #BA2AD1) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
    cursor: pointer;
    
}
/* HEADER CONTENT STYLING */

.header{
    width: 100%;
    position: relative;
    overflow: hidden;
    
}
.header-content{
    margin-top: 70px;
}
.header-text h1{
    font-size: 64px;
    font-weight: 700;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.header-text h1 span{
    color: var(--purple-light);
}
.header-text p{
    width: 85%;
    margin: 0 auto;
    line-height: 1.4;
    font-size: 24px;
    font-weight: 100;
}
/* BACKGROUND IMAGES */
.background-asset{
    position:absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.background-asset img{
    width: 100%;
    height: 100%;
}
.eclipse-medium{
    left: 10%;
    top: 20%;
    width: 200px;
    height: 200px;
}
.eclipse-blur{
    right: -10%;
    top: 40%;
    width: 400px;
    height: 400px;
    
}
.eclipse-small{
    right: 22%;
    top: 12%;
    width: 100px;
    height: 100px;
}
.twinkling-star1{
    right: 20%;
    top: 35%;
    width: 30px;
    height: 30px;
    
}
.twinkling-star2{
    left: 35%;
    top: 22%;
    width: 30px;
    height: 30px;
   
}
.twinkling-star3{
    left: 22%;
    bottom: 8%;
    width: 30px;
    height: 30px;
}
.twinkling-star4{
    right: 10%;
    bottom: 10%;
    width: 30px;
    height: 30px;
}
.arrow{
    right: 30%;
    bottom: 25%;
    width: 100px;
    height: 100px;
}


/* TABS AND PHONES */
@media only screen and (max-width: 1300px){
    .arrow{
        right: 20%;
        bottom: 25%;
        width: 100px;
        height: 100px;
        
    }
}
@media only screen and (max-width: 1200px){
    .header nav{
        padding: 0 50px;
    }
    .arrow{
        right: 20%;
        bottom: 25%;
    }
    .eclipse-blur{
        right: -15%;
        top: 30%;
    }
}

@media only screen and (max-width: 900px){
    .header-text h1{
        font-size: 47px;
        width: 75%;
    }
    .header-text p{
        font-size: 18px;
    }
    .arrow{
        right: 10%;
        bottom: 30%;
    }
    

}
@media only screen and (max-width: 500px){
    .logo-wrapper{
        max-width: 100px;
    }
    .header nav{
        padding: 0 20px;
        height: 80px;
    }

    .header-text h1{
        font-size: 30px;
        width: 95%;
    }
    .header-text p{
        font-size: 16;
        
    }
    .arrow{
        right: 2%;
        bottom: 37%;
        width: 70px;
        height: 70px;
        
    }
    .eclipse-blur{
        right: -20%;
        top: 30%;
        width: 150px;
        height: 150px;
    }
    .eclipse-medium{
        left: 5%;
        top: 25%;
        width: 120px;
        height: 120px;
    }
   
    .eclipse-small,.twinkling-star2, .twinkling-star1{
        display: none;
    }
    .twinkling-star3{
        left: 4%;
        bottom: 5%;
    }
   
}
@media only screen and (max-width: 320px){
    .nav-btn {
        padding: 8px;
        font-size: 12px;

    }
    .header-content{
        margin-top: 40px;
    }
    .header-text h1{
        font-size: 25px;
        width: 90%;
    }
}